.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0, 0, 0, 0.4); 
  padding-top: 60px; 
}

.modal-content {
  position: relative; 
  background-color: #3CBE43;
  margin: 10% auto; 
  padding: 30px; 
  border: 5px solid #FFE500;
  border-radius: 15px; 
  width: 40%; 
  font-family: "Amatic SC", cursive; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
}

.ca{
  color:#FFF;
}

.close {
    color: #FFF; /* Cor do botão fechar modificada */
    position: absolute; /* Define a posição absoluta */
    top: 1px; /* Distância do topo */
    right: 40px; /* Distância da direita */
    font-size: 50px; /* Tamanho do botão de fechar aumentado */
    font-weight: bold;
  
}

.close:hover,
.close:focus {
  color: #FFF; /* Cor do botão fechar modificada */
  text-decoration: none;
  cursor: pointer;
}
